.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    border-bottom: 1px solid var(--color-1);
    padding-bottom: 5px;
    padding-top: 10px;
}

.headertext {
    font-weight: bold;
}

.iconheaderwrap {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconheader {
    font-size: 1.4rem;
    color: #fff;
}

.headermobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-1);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
}

.logomobile {
    height: auto;
    width: 100px;
}

.iconham {
    color: #fff;
    font-size: 1.4rem;
}