.offcanavscontent {
    position: fixed;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 55%;
    background-color: #fff;
    z-index: 4;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    transition: right 0.5s ease;
}

.slideIn {
    right: 0;
}

.slideOut {
    right: -100%;
}

.closeIconside {
    font-size: 1.4rem;
}

.sidebarlistwrapper {
    margin-top: 35%;
}

.sidebarlist {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.listitem {
    text-decoration: none;
    margin-bottom: 25%;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
}

.listitemtext {
    margin-right: 7px;
    font-size: .9rem;
    color: var(--color-1);
}

.orderside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.iconsidebar {
    font-size: 1.5rem;
    transition: all .3s ease;
    color: var(--color-3);
}

.iconarrow {
    color: var(--color-3);
}

.listitem:hover .iconsidebar {
    color: var(--color-3);
}

.logoutsidebar {
    margin-top: 30%;
}

.orderitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parentsub {
    display: flex;
    flex-direction: column;
}

.submenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 1rem;
    font-size: .9rem;
    list-style: disc;
    margin-left: 0;
    padding-left: 0;
}

.submenuitem {
    padding: 5px 0;
    color: var(--color-1);
}

.submenuitem a {
    color: inherit;
    text-decoration: none;
}

.submenuitem:hover {
    transition: all .3s ease;
    color: var(--color-3);
}