.infouserwrapper {
    border-radius: 10px;
    box-shadow: 0px 2px 15px 0px #E9E9E9;
    padding: 20px 25px;
}

.infousertop {
    display: flex;
    align-items: center;
}

.iconwrapper {
    background-color: var(--color-1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconuser {
    font-size: 1.5rem;
}

.userfullname {
    margin-bottom: 0px;
    margin-right: 10px;
}

.userabout {
    margin-top: 2rem;
}

.useraboutitem {
    margin-bottom: 12px;
}

.userabouttitle {
    color: #9a9a9a;
    font-weight: bold;
    font-size: .9rem;
}

.useraboutsub {
    margin-right: 10px;
    color: var(--color-1);
}

.btnwrapper {
    margin: 1.5rem;
    text-align: left;
}

.btnedituser {
    border: none;
    border-radius: 8px;
    padding: 5px 30px;
    color: #9a9a9a;
}