.cartItemwrappper {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    color: var(--color-1) !important;

}

.itemhead {
    font-size: .9rem !important;
    color: var(--color-1);
}

.bodyitem {
    padding-top: 25px !important;
}

/* start mobile style */
.CartItemmwrapper {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 0px #D9D9D9;
    margin-top: 1.5rem;
    padding: 15px;
    color: var(--color-1);
}

.headercart {
    border-bottom: 1px solid var(--color-1);
    padding-bottom: 10px;
}

.carttitle {
    margin-bottom: 0;
    font-weight: bold;
}

.carttext {
    font-size: .9rem;
    font-weight: bold;
}

.cartinfowrapper {
    display: flex;
    flex-direction: column;
}

.cartinfoitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.infoitem {
    font-weight: bold;
}


.imageorder_wrapper {
    height: 200px;
    width: 100%;
}

.imageorder_wrapper>img {
    width: 100%;
    height: 100%;
}

/* end mobile style */

@media (max-width:768px) {

    .itemhead,
    .bodyitem {
        font-size: .8rem !important;
    }
}


@media (max-width:600px) {
    .CartItemmwrapper {
        width: 100%;
    }

    .headercart {
        display: flex;
    }
}