.wrapperpage {
    display: flex;
    justify-content: space-between;
}

.pagecontent {
    width: 82%;
    margin-right: 18%;
    padding: 0 3%;
    min-height: 100vh;
    background-color: var(--color-2);
}


.hometop {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 280px);
    grid-template-areas: "sec_1 sec_2 sec_2" "sec_1 sec_3 sec_3";
    gap: 1rem;
}

.item1 {
    grid-area: sec_1;
    height: 90%;
}

.item2 {
    grid-area: sec_2;
}

.item3 {
    grid-area: sec_3;
}



.oderbtn {
    background-color: var(--color-1);
    border: none;
    display: flex;
    align-items: center;
    color: var(--color-3);
    border-radius: 8px;
    padding: 5px 20px;
    margin: 0 auto;
}

.iconplus {
    margin-right: 5px;
}



@media (max-width:1025px) {
    .pagecontent {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    .maincontent {
        padding: 0 20px;
    }

    .maincontent {
        margin-top: 90px;
    }
}


@media (max-width:658px) {
    .hometop {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 280px);
        grid-template-areas: "sec_1 sec_1" "sec_2 sec_2" "sec_3 sec_3";
    }

    .item1 {
        height: auto;
        overflow-y: hidden;
        border-radius: 10px;
    }
}