.wrapperpage {
    display: flex;
    justify-content: space-between;
}

.pagecontent {
    width: 82%;
    margin-right: 18%;
    padding: 0 3%;
    min-height: 100vh;
    background-color: #f5f5f5;
    position: relative;
}

.ordertitlewrapper {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.orderitemcontainer {
    max-height: 75vh;
    overflow-y: scroll;
}

.orderitemcontainer::-webkit-scrollbar {
    display: none;
}


.searchwrapper {
    display: flex;
    justify-content: end;
    margin: 2rem 0;
}

/*  */


@media (max-width:1025px) {
    .pagecontent {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    .maincontent {
        margin-top: 180px;
        padding: 0 20px;
    }

    .maincontent2 {
        margin-top: 90px;
        padding: 0 20px;
    }

    .ordertitlewrapper {
        position: fixed;

        width: 100%;
        margin-top: 6rem;
        padding: 0 20px;
        background-color: #f5f5f5;
    }

    .detailorderwrapper {
        margin: 1rem 0;

    }
}

@media (max-width:768px) {

    .itemhead,
    .bodyitem {
        font-size: .8rem !important;
    }
}

@media (max-width:600px) {

    .pagecontent {
        padding-bottom: 1.5rem;
    }

    .ordertitlewrapper {
        flex-direction: column-reverse;
    }
}