.wrapperpage {
    display: flex;
    justify-content: space-between;
}

.pagecontent {
    width: 82%;
    margin-right: 18%;
    padding: 0 3%;
    min-height: 100vh;
}

.topsec {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    justify-content: space-between;
}

.filtercontainer {
    width: 15%;
}

.maincontent {
    max-height: 80vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.maincontent::-webkit-scrollbar {
    display: none;
}

@media (max-width:1025px) {
    .pagecontent {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }

    .maincontent,
    .topsec {
        padding: 0 20px;
    }

    .ordercontent {
        margin-top: 90px;
    }

}


@media (max-width:600px) {
    .topsec {
        flex-direction: column;
    }

    .filtercontainer {
        width: 100%;
        margin-top: 1.5rem;
    }
}