.statusproduct {
    box-shadow: 0px 2px 15px 0px #E9E9E9;
    border-radius: 10px;
    padding: 20px;
}


.pragresswrapper {
    text-align: center;
    width: 90%;
    margin: 1.5rem auto 0 auto;
}

.pragressContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;

}

.pragressContainer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    z-index: -1;
    background-color: red;
    transform: translateY(-50%);
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0%;
    height: 2px;
    transform: translateY(-50%);
    background-color: blue;
    transition: 0.4s ease;
    z-index: -1;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid var(--color-21);
    background-color: #fff;
    color: var(--color-21);
    transition: .4s ease;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle.active {
    border-color: yellow;
    color: yellow;
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

.itemprogtext {
    position: absolute;
    top: 100%;
    padding-top: 10px;
    font-size: .9rem;
    width: max-content;
}