.notifItemwrapper {
    border-bottom: 1px solid #dddddf;
    padding-top: 10px;
    background-color: #ffffff;
}

.notifItem {
    background-color: #ffffff;
    padding-bottom: 10px;
}

.notiftitle {
    margin-right: 10px;
    font-weight: 400;
}

.notiftext {
    margin-top: 10px;
    font-size: .9rem;
    font-weight: 400;
    padding-bottom: 7px;
    margin-bottom: 0;
}